	
	.uiButton {
		background-color: #4286f4;
		color: white;
	}
	.userButton {
		padding: 0;
		border: none;
		background: none;
		color: #4286f4;
	}
	.floatedButton {
		float: right;
	}
	h1 {
		color: #4286f4;
		font-family: verdana;
	}
	p, .normal {
		color: #4286f4;
		font-family: verdana;
		font-size: 12px;
	}
	.tweet {
		font-family: verdana;
		font-size: 12px;
	}
	.timestamp {
		font-size: 9px;
		color: #b6bbc4;
		font-family: verdana;
	}
	#autoRefreshStatus {
		font-size: 9px;
		color: #b6bbc4;
		font-family: verdana;
		text-align: center;
	}
	.selectToggle {
		opacity: 0.5;
	}
	.bold {
		font-weight: bold;
	}
	